In [ ]:
    #Q1
#1)Lists: You can create a pandas Series from any Python list. The data type (dtype) of the Series will be inferred based on the elements of the list.

#2)NumPy Arrays: Given the close integration between pandas and NumPy, you can directly use a NumPy array to create a Series. The dtype of the Series will match that of the NumPy array.

#3)Dictionaries: When a dictionary is used, its keys become the index labels of the Series, and its values become the Series' data. This is particularly useful for creating Series with specific index labels directly.

#4)Scalars: A scalar value can be used to create a Series. In this case, you must also provide an index, and the scalar value will be broadcast to each index label.

#5)Another Series: A new Series can also be created from an existing Series. This can be useful for copying or for applying operations that return a Series.

In [4]:
   #Q2
import pandas as pd

data = range(1, 13)
index = [
    'January', 'February', 'March', 'April',
    'May', 'June', 'July', 'August',
    'September', 'October', 'November', 'December'
]

months_series = pd.Series(data=data, index=index)
months_series

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int64

In [5]:
      #Q3
import pandas as pd
batch_student_numbers = {
    'MatMIE': 120,
    'MatDAIS': 100,
    'COMIE': 130,
    'COMEC': 110
}

students_series = pd.Series(batch_student_numbers)

students_series

MatMIE     120
MatDAIS    100
COMIE      130
COMEC      110
dtype: int64

In [6]:
    #Q4
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
    #Q5
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
rows_with_more_than_2_attempts = df[df['attempts'] > 2]
print(rows_with_more_than_2_attempts)

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes